.option-group 
    // display: flex
    // flex-direction: column

    input[type="radio"]
        display: none
    
    input[type="radio"]:checked + label
        background: $primary

    label    
        background: rgba(0, 0, 0, 0.1)
        margin: 5px 0
        padding: 12px
        padding-left: 20px
        border-radius: 5px
        cursor: pointer
        display: flex

    label.answer-true
        background: #0db898
        color: $white

    label.answer-false
        background: #F22F57
        color: $white

.soal-img-container
    max-width: 200px
    margin: auto

    img
        height: 100%
        width: 100%
    
    
    